@{
    Layout = "_Layout";
}

<div class="d-flex">
    <img class="rounded-circle" width="250" src="@Model.Img" alt="...">
    <div class="px-5">
        <h1>@Model.Name</h1>
        <p>@Model.Description</p>
        <span>@Model.Price €</span>
    </div>
</div>